.container
  .row
    .large-6.columns
      %ul.vcard
        %li.fn Wendy Wang
        %li.street-address Southeast University of China, Nan Jing, Jiang Su Province
        %li.email
          %a{:href => "#"} wendy@wendycan.org
    .large-6.columns
      %blockquote
        Those people who think they know everything are a great annoyance to those of us who do.
        %cite Issac Asimov