%nav.top-bar{:'data-topbar' => true}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "#"}
          = image_tag "/images/me.jpeg"
  %section.top-bar-section
    %ul.right
      %li
        %a{:href => "http://www.wendycan.org"} Wendycan
    %ul.left
      %li
        %a{:href => "http://blog.wendycan.org"} 博客
