%nav.top-bar{:'data-topbar' => true}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "#"} My Site
    %li.toggle-topbar.menu-icon
      %a{:href => "#"} Menu
  %section.top-bar-section
    %ul.right
      %li
        %a{:href => "#"} right
    %ul.left
      %li
        %a{:href => "#"} Left
