%nav.tab-bar.show-for-small-only
  %section.left-small.text-center
    %a.left-off-canvas-toggle
      %span
        %i.fa.fa-bars.defaultg
  %section.middle.tab-bar-section
    %h1.title Wendycan
%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %a.default{:href => "htttp://www.wendycan.org"}
        %i.fa.fa-home
        首页
    %li
      = link_to 'htttp://www.wendycan.org/leaves', :class => "default" do
        %i.fa.fa-leaf
        叶子拼图
    %li
      = link_to 'htttp://www.wendycan.org/temp', :class => "default" do
        %i.fa.fa-bar-chart-o
        温度监控
    %li
      = link_to 'htttp://www.wendycan.org/projects', :class => "default" do
        %i.fa.fa-th-large
        所有项目
    %li
      = link_to 'htttp://www.wendycan.org/profile', :class => "default" do
        %i.fa.fa-user
        简历
    %li
      %a.default{:href => "http://blog.wendycan.org"}
        %i.fa.fa-bookmark
        博客
