- wrap_layout :layout do
  = partial '/cn/article', :locals => {:article => current_article, :digest => false}

  .row
    .large-12.columns
      .ds-thread{:'data-thread-key' => '', :'data-title' => '', :'data-url' => ''}

  :javascript
    var duoshuoQuery = {short_name:"wendycan"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
