---
pageable: true
---

- content_for :title do
  = "é˜…å°"
.row
  .large-9.columns.articles
    - page_articles.each_with_index do |article, i|
      - if i > 0
        %hr/
      = partial '/cn/article', :locals => {:article => article, :digest => true}
  .large-3.columns
    = partial '/cn/sidebar'
