.row
  .large-9.columns.articles
    - page_articles.each_with_index do |article, i|
      - if i > 0
        %hr/
      = partial '/cn/article_content', :locals => {:article => article, :digest => true}
  .large-3.columns
    = partial '/cn/sidebar'
.row
  .ds-thread{:'data-thread-key' => '', :'data-title' => '', :'data-url' => ''}

:javascript
  var duoshuoQuery = {short_name:"wendycan"};
      (function() {
          var ds = document.createElement('script');
          ds.type = 'text/javascript';ds.async = true;
          ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
          ds.charset = 'UTF-8';
          (document.getElementsByTagName('head')[0]
           || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
